@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

body {
    background-color: #101010;
    color: grey;
    font-family: 'Kurale', serif;
    padding-left: 20px;
}
  
h1 { 
    color: green;
    counter-increment: h1;
    counter-reset: h2 h3; 
    
}

h1::before { content: counter(h1,decimal) ". "; }
h2::before { content: counter(h1,decimal) "." counter(h2,decimal) " "; }
h3::before { content: counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) " ";}




h2 {
    color: green;
    counter-increment: h2;
    counter-reset: h3;
}

h3 {
    color: green;
    counter-increment: h3;
    counter-reset: h4;
}

h4 {
    color: green;
    counter-increment: h4;
    counter-reset: h5 h6;
}


br {
    margin-bottom: 20px;
}