@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('opensans-regular.woff') format('woff');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: url('opensans-bold.woff') format('woff');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-display: auto;
    src: url('opensans-italic.woff') format('woff');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    font-display: auto;
    src: url('opensans-bolditalic.woff') format('woff');
  }